* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.GL- {
    border: 2px dashed gray;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;

    color: wheat;
}

.container {
    background-color: darkslategray;
    margin: 0 auto;
    width: 500px;
    height: 460px;    
}

.selet-menu {
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    display: flex;
}


.main {
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text {
    /* margin: 15px; */
    font-size: 25px;
    height: 20px;
}

.input-box {
    background-color: transparent;
    border: 0px;
    border: 1px solid white;
    width: 100%;
    height: 30px;
}

.footer {
    background-color: seagreen;
    margin: 10px auto 30px auto;
    width: 80%;
    height: 50px;
    font-size: 25px;
}